<%@ Master Language="C#" AutoEventWireup="true" CodeFile="MasterPage.master.cs" Inherits="MasterPage" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <title></title>
    <link rel="stylesheet" type="text/css" href="StyleSheet.css" />
    <meta charset="utf-8" />
    <asp:ContentPlaceHolder id="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    
    <form id="form1" runat="server"> 
    
        <header>
            <section class="header_date">
                <asp:Label ID="DateLabel" runat="server"></asp:Label>
                <asp:Image ID="DayImage" runat="server"/>
            </section>

            <section class="header_top">                
            </section>
            
            <nav class="main_nav">     
                <a href="Admin.aspx" id="admin" runat="server"> Admin </a>
                <a href="Default.aspx"> Home page </a>        
                <a href="Cyber security.aspx"> Whats Cyber security? </a>
                <a href="Threats.aspx"> Common threats </a>
                <a href="HTSS.aspx"> Stay safe online! </a>
                <a href="Member.aspx" id="members" runat="server" > Member's page </a>
                <a class="login_logout" ID="LoginLogout" runat="server"></a>
            </nav>
        </header>
        
        <section class="center">
            <aside>
               <div class="phishing-simulator">
                <h2>Surprise test! is this message legit or is it phishing?</h2>
                <div class="email-container">
                    <asp:Image ID="imgEmail" runat="server" Width="100%" />
                </div>
                
                <div class="actions">
                    <asp:Button ID="btnSafe" runat="server" Text="✅ Legit" OnClick="CheckAnswer_Click" CommandArgument="safe" />
                    <asp:Button ID="btnFishy" runat="server" Text="❌ Suspicious" OnClick="CheckAnswer_Click" CommandArgument="fishy" />
                </div>

                <asp:Panel ID="pnlResult" runat="server" Visible="false" Style="margin-top: 10px;">
                    <asp:Label ID="lblResult" runat="server" Font-Bold="true"></asp:Label>
                    <br />
                    <asp:Label ID="lblExplanation" runat="server" Font-Size="Small"></asp:Label>
                </asp:Panel>
            </div>

            <asp:ContentPlaceHolder id="ContentPlaceHolderAside" runat="server">
            </asp:ContentPlaceHolder>
        </aside>
            
        <main>
            <asp:ContentPlaceHolder id="ContentPlaceHolderMain" runat="server">
            </asp:ContentPlaceHolder>
        </main>
    </section>
            
    <footer>
        &copy; 2026 Cyber Security Web - Talkit Project | Developed by Uri 
    </footer>
    
    <asp:ContentPlaceHolder id="ContentPlaceHolderScript" runat="server">
    </asp:ContentPlaceHolder>

    </form> 
</body>
</html>